[program:laravel-worker]
process_name=%(program_name)s_%(process_num)02d
command=php /var/www/{{ main_domain }}/current/artisan queue:work --sleep=3 --tries=3 --daemon
autostart=true
autorestart=true
user=www-data
numprocs=1
redirect_stderr=true
stdout_logfile=/var/log/supervisor/worker.log
