APP_ENV={{ app_env }}
APP_DEBUG={{ app_debug }}
APP_KEY={{ app_key }}
APP_URL={{ app_url }}
SITE_SHORT={{ main_domain }}

DB_HOST=localhost
DB_DATABASE={{ database_name }}
DB_USERNAME={{ database_user }}
DB_PASSWORD={{ database_password }}

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MICROSOFT_BOT_HANDLE={{ microsoft_bot_handle }}
MICROSOFT_APP_ID={{ microsoft_app_id }}
MICROSOFT_APP_KEY={{ microsoft_app_key }}
SKYPE_CHAT={{ skype_chat }}

