server {
    listen 443 ssl http2;

    ssl_certificate_key /etc/nginx/ssl/{{ ssl_certificate_key }};
    ssl_certificate     /etc/nginx/ssl/{{ ssl_certificate_crt }};


    server_name {% for domain in domains %}  {{ domain }} {% endfor %};

    error_page 404 /404/index.html;
            location = /404/index.html {
                    root /var/www/{{ main_domain }}/current/public;
                    internal;
            }

    root /var/www/{{ main_domain }}/current/public;

    index index.html;

    error_log /var/log/nginx/{{ main_domain }}.error.log;
    access_log /var/log/nginx/{{ main_domain }}.log;

    client_max_body_size {{ client_max_body_size }};

    # Image, CSS, JS and web fonts cache headers
    location ~* \.(webp|png|jpg|jpeg|gif|ico|svg|css|js|ttf|ttc|otf|eot|woff|woff2)$ {
       access_log    off;
       log_not_found off;
       expires       48w;
    }

    location ~ /.well-known {
              allow all;
    }

    # Deny all . files
    location ~ /\. {
       deny all;
       return 404;
    }

    # Based on blog post by Dayle Rees http://daylerees.com/nginx-configuration-for-daylerees-dot-com
    # Rewrite for content.
    if (!-d $request_filename) {
       rewrite ^/(.+)/$ /$1 permanent;
    }

    location / {
       try_files $uri $uri/ /index.html?$args;
       rewrite ^\/work-with-clients\/dbc$ /development-methodology break;
       rewrite ^\/clients-reviews$ /testimonials break;
       rewrite ^\/contacts/form /contacts/index.html;
       rewrite ^\/form /index.html;
       if (!-e $request_filename){
        return 404;
       }
    }

    location /en {
        rewrite /en / permanent;
    }

    location ~ \.php$ {
        {% if prerender_io_token is defined %}
            {% include 'templates/nginx/prerender_io.conf.j2' %}
        {% endif %}

        fastcgi_keep_conn on;
        try_files $uri =404;

        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_pass unix:/var/run/php/php7.1-fpm.sock;

        fastcgi_param SCRIPT_FILENAME  $realpath_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;

        # Performance tuning
        fastcgi_buffer_size 128k;
        fastcgi_buffers 256 16k;
        fastcgi_busy_buffers_size 256k;
        fastcgi_temp_file_write_size 256k;

        # Typical vars in here, nothing interesting.
        fastcgi_param PHP_VALUE "error_log=\"/var/log/php7/{{ main_domain }}_php.error.log\"
                                 upload_max_filesize = {{ upload_max_filesize }}
                                 post_max_size = {{ post_max_size }}";

    }
}

server {
    listen 80;
    server_name {% for domain in domains %} {{ domain }} {% endfor %};
    return 301 https://$server_name$request_uri;
}

server {
    listen 80;
    listen 443;
    server_name {{ main_domain_www }};
    return 301 https://{{ main_domain }}$request_uri;
}
