/var/www/{{ main_domain }}/current/storage/logs/*.log {
    daily
    rotate 30
    compress
    delaycompress
    missingok
    create 666 www-data www-data
    sharedscripts
    postrotate
            php /var/www/{{ main_domain }}/current/artisan development:parse_log laravel.log.1 --email=dmytriy.lozynskyi@abz.agency --email=dmitriy@abz.agency --email=viktorpelykh@abz.agency --email=alina.papish@abz.agency
    endscript
}
